#config is ssh config which is crypted for security on public github repo
config filter=git-crypt diff=git-crypt
config.json filter=git-crypt diff=git-crypt
.npmrc filter=git-crypt diff=git-crypt
.ssh-id/ filter=git-crypt diff=git-crypt
