registry=https://artifactory.eccenca.com/api/npm/npm/

//artifactory.eccenca.com/api/npm/npm/:_password=QVAzdU1FUFpYNnZDU2Y5ckRVNTN4Rkc0c280
//artifactory.eccenca.com/api/npm/npm/:username=amueller
//artifactory.eccenca.com/api/npm/npm/:email=amueller@brox.de
//artifactory.eccenca.com/api/npm/npm/:always-auth=true
